<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="div-uno container">
		<a class="nav-logo navbar-brand" href="#">
			<img src="/assets/img/logosw2.png" alt="logo.cb" width="100" height="75"/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="div-navbar collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="text-end navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link {% if active == '/accueil' %}active{% endif %}" href="/accueil">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if active == '/projets' %}active{% endif %}" href="/changement">Projets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if active == '/cv' %}active{% endif %}" href="/cv">Curriculum-vitea</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if active == '/contact' %}active{% endif %}" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
